{% extends '../base.html' %}

{% block title %}Blog List{% endblock title %}

{% block content %}
{{ blogs }}
    {% if blogs %}
        <table>
        {% for blog in blogs %}
            <tr><td>&nbsp;&nbsp;&nbsp;</td><td><a href="{% url 'product:product_detail' product.id %}">{{ product.name }}</a></td><td>
                <td><a href="{% url 'product:product_update' product.id %}" > Edit </a></td></tr>
            {% empty %}
        {% endfor %}
        </table>
    {% else %}
        <p>No blogs are available.</p>
    {% endif %}
{% endblock content %}