{% extends '../base.html' %}

{% block title %}Product List{% endblock title %}

{% block content %}
<h1>Products</h1>
    {% if products %}
        <table>
        {% for product in products %}
            <tr><td>&nbsp;&nbsp;&nbsp;</td><td><a href="{% url 'product:product_detail' product.id %}"><h3>{{ product.name }}</h3></a></td>

                <td><a href="{% url 'product:product_update' product.id %}" > Edit </a></td>
                <td><a href="{% url 'product:product_delete' product.id %}" > Delete </a></td></tr>
            {% empty %}
        {% endfor %}
        </table>
    {% else %}
        <p>No products are available.</p>
    {% endif %}
    <br>
    <td><a href="{% url 'product:product_new' %}" > Add Product </a></td>
{% endblock content %}